body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Disabling scrolling */
  margin: 0;
}

* {
  color: white;
}

.game {
  border: 1px solid white;
  width: 95vw;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  border: 1px solid red;
  width: 65%;
  height: 60%;
  margin-bottom: 2vh;
}

.keyboard {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
  height: 10%;
}