/* Extra small devices (phones, up to 600px) */
@media (max-width: 600px) {
  /* Styles */
  .board {
    width: 95.5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  /* Styles */
  .charInput {
    width: 30%;
  }

  .board {
    width: 85.5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  /* Styles */


  .board {
    width: 97.5%;
  }
}

@media (min-width: 992px) {
  /* Styles */
  .board {
    width: 75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles */
  .board {
    width: 65%;
  }
}




body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Disabling scrolling */
  margin: 0;
}

* {
  color: white;
}

.game {
  border: 1px solid white;
  width: 95vw;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  border: 1px solid red;
  height: 60%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 60%;
  margin: 0 auto;
  height: 10%;
}

.inner-board {
  border: 0px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 75%;
}

.row {
  border: 0px solid red;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.1%;
}

.charInput {
  color: black;
  width: 10%;
  border-radius: 1.5%;
  margin-right: 0.125%;
  margin-left: 0.125%;
  height: 95%;
  font-size: 1.5rem;
  border: 0px solid green;
  text-align: center;
  caret-color: transparent;
}

.charInput:focus {
  outline: none;
  box-shadow: none;
  transform: scale(1.02);
}

.playAgainBtn {
  background-color: green;
  height: 10%;
  outline: none!important;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1%;
  border-radius: 5%;
}

.winner-message {
  color: green;
  font-size: 2rem;
  position: absolute;
}

.invalidAlert {
  top: 22vh;
}